nav > ul > li{
    display:inline;
    margin: RIGHT;
    margin: 50px;
    
    
}

nav >img {
    height: 220px;
    display: inline;

}
h2{
    border:none;
}
ul{
    text-align: right;
    padding-top: 10px;
    margin-right: 50px;
}

a{
    text-decoration: none;
    
}

.navbar{
    height: 200px;
    border: solid;
    background-color: black;


}



footer{
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


.images{
    border: solid black;
    border-radius: 10px;
    margin:50px;
    box-shadow: 10px 10px 30px;
    padding-bottom: 20px;
}


img{
    padding: 20px;
}

div > img {
    height: 500px;
    display: inline;

    
}

.m{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}